<style>
    body {
        background-color: darkslategrey;
    }

    h1 {
        color: whitesmoke;
        text-align: center;
    }

    h2 {
        color: white;
        font-size: 30px;
    }

    p {
        color: white;
        font-size: 30px;
    }

    form {
        color: white;
    }

    button {
        color: darkslategray;
    }
</style>
<div ng-controller="LoginUserController">
    <h2>Introduce your Details</h2>

    <form>
        Username: <input type="text" cardId="inputName1" ng-model="username"><br>
        Password: <input type="password" cardId="inputName2" ng-model="password"><br>
        <button ng-click="login()">Login</button>
    </form>

</div>
