<style>
    body {
        background-color: darkslategrey;
    }

    h1 {
        color: whitesmoke;
        text-align: center;
    }

    h2 {
        color: white;
        font-size: 30px;
    }

    p {
        color: white;
        font-size: 30px;
    }

    form {
        color: white;
        font-size: 25px;
    }

    button {
        color: darkslategray;
    }

    input, select, textarea{
        color: #000000;
    }
</style>
<div ng-controller="CoinController">

    <form>
        You currently own approx. {{userCoins}} Multicoins <br>
        You currently have deposited {{userDollars}} USD <br>
    </form>
    <br>
    <form>
        Prices<br>
        Buy:{{buyPrice}}$<br>
        Sell:{{sellPrice}}$
    </form>
    <br>
    <form>
        Introduce the amount of USD to spend :<input type="number" step="0.01" min="0" ng-model="amountDollars"><br>
        <button ng-click="buy()">BUY</button>

    </form>
    <br>
    <form>
        Introduce the amount of Multicoins you wish to sell: <input type="number" step="0.00001" min="0" ng-model="amountMulticoins"><br>
        <button ng-click="sell()">SELL</button>
    </form>

</div>